Tests: build
Depends: @builddeps@
Restrictions: allow-stderr

Tests: libmutter-13-dev
Depends: build-essential,
         dbus-daemon,
         libmutter-13-dev,
         xauth,
         xvfb
Restrictions: allow-stderr superficial

Tests: installed-tests
Classes: desktop
Depends: gnome-desktop-testing,
         mutter-13-tests
Restrictions: allow-stderr skippable
